body {
    padding: 5rem;
}

header {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.boardGame {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    background-color: #936639;
    padding: 20px;
}

.player {
    padding: 20px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#playerone {
    background-color: #f3de2c;
}
#playertwo {
    background-color: #2B9348;
}

.currentPlayer {
    box-shadow: 2px 1px 20px white;
}

.gameSlot {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.empty {
    background-color: blanchedalmond;
    border-top: 3px solid black;
}

.boardHeader {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.slotButtons {
    height: 30px;
    width: 30px;
    background-color: #fb6107;
    border-radius: 50%;
    border-top: 3px solid black;
}

.slotButtons:hover {
    cursor: pointer;
    border-top: none;
}

#player1 {
    background-color: #f3de2c;
}
#player2 {
    background-color: #2B9348;
}