body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.backButton {
    background-color: rgba(35, 35, 35, 0.53);
    color: var(--buttonColor);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
}

.backButton:hover {
    cursor: pointer;
    background-color: rgba(81, 81, 81, 0.53);
}

main {
    display: flex;
    align-items: center;
    gap: 40px;
}

.boardGame {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    background-color: var(--boardGameColor);
    padding: 20px 20px 30px 20px;
    border-radius: 20px;
    border: 2px solid black;
}

.player {
    background-color: var(--boardGameColor);
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid black;
    border-bottom: 7px solid black;
    position: relative;
}

span {
    font-size: 40px;
}

p {
    margin: 5px 0;
}

#player1,
#playerone::before {
    background-color: var(--player1Color);
}

#player2,
#playertwo::before {
    background-color: var(--player2Color);
}

.player::before {
    display: block;
    font-size: 30px;
    border-radius: 50%;
    border: var(--border-thick);
    border-bottom: 4px solid black;

    position: absolute;
    top: -24px;
    left: 32px;
}

.currentPlayer {
    box-shadow: 2px 1px 20px white;
}

.gameSlot {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.empty {
    background-color: var(--buttonColor);
    border: var(--border-thick);
    border-top: var(--border-top-shadow);
}

.filled {
    border: var(--border-thick);
}

.boardHeader {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    padding: 0px 7.5px;
}

.slotButtons {
    height: 40px;
    width: 40px;
    background-color: var(--buttonColor);
    border-radius: 50%;
    border: var(--border-thick);
    position: relative;
}

.slotButtons:hover {
    cursor: pointer;
    background-color: var(--hoverColor);
}

.happy::before {
    content: "😁";
}

.winner::before {
    content: "🤩";
}

.loser::before {
    content: "😭";
}

@keyframes hovereffect {
    from {
        /* transform: scale(0); */
        opacity: .5;
    }

    40% {
        /* transform: scale(1.1); */
        opacity: 1;
    }

    to {
        /* transform: scale(.3); */
        opacity: 0;
    }
}

.animationBrother {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 47px;
    top: 80px;
    left: 10px;
}

.animationChild {

    background-color: var(--hoverColor);
    border-radius: 50%;
    border-bottom: 2px solid black;
    animation: hovereffect 1.8s ease-in-out infinite;
    opacity: 0;
}

.animationDelay--1ms {
    animation-delay: .1s;
    height: 15px;
    width: 15px;
}

.animationDelay--2ms {
    animation-delay: .2s;
    height: 14px;
    width: 14px;
}

.animationDelay--3ms {
    animation-delay: .3s;
    height: 13px;
    width: 13px;
}

.animationDelay--4ms {
    animation-delay: .4s;
    height: 12px;
    width: 12px;
}

.animationDelay--5ms {
    animation-delay: .5s;
    height: 11px;
    width: 11px;
}

.animationDelay--6ms {
    animation-delay: .6s;
    height: 10px;
    width: 10px;
}