body {
    display: flex;
    justify-content: center;
    align-items: center;
}


.startPage {
    background-color: var(--boardGameColor);
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: var(--border-thick);
}

.startBoxes {
    border: var(--border-thick);
    background-color: var(--player1Color);
    padding: 1rem;
    border-radius: 15px;
}

.startBoxes:nth-child(3) {
    background-color: var(--player2Color);
}

.startBoxes:nth-child(4) {
    background-color: var(--buttonColor);
}

.startBoxes:hover {
    cursor: pointer;
    color: white;
}