body {
    display: flex;
    justify-content: center;
    align-items: center;
}


.startPage {
    background-color: var(--boardGameColor);
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: var(--border-thick);
}

.startBoxes {
    border: var(--border-thick);
    background-color: var(--player1Color);
    padding: 1rem;
    border-radius: 15px;
}

.startBoxes:nth-child(3) {
    background-color: var(--player2Color);
}

.startBoxes:nth-child(4) {
    background-color: var(--buttonColor);
}

.startBoxes:hover {
    cursor: pointer;
    background-color: var(--hoverColor);
}

dialog {
    width: 600px;
    background-color: var(--boardGameColor);
    padding: 10px 50px;
    border-radius: 10px;
}

dialog h1 {
    text-align: center;
    text-decoration: underline;
    color: var(--player1Color);
}

dialog p,
li {
    font-size: 15px;
    color: var(--buttonColor);
}

dialog h3 {
    color: var(--player1Color);
    margin-bottom: 5px;
}

dialog button {
    padding: 15px;
    background-color: var(--boardGameColor);
    color: black;
    font-weight: 900;
    /* border-radius: 50%; */
    border: none;
    position: absolute;
    left: 0px;
    top: 0px;
    outline: none;
}

dialog button:hover {
    cursor: pointer;
    color: var(--hoverColor);
}